body{
    background-color: #1E1E1E;
    color: white;
}
.canvas{
    position: absolute;
    padding-right: 8px;
}
#game-board{
    position: relative;
    
    justify-content: space-evenly;
    padding: 3px;
    padding-top: 7px;
    display: flex;
    flex-wrap: wrap;
    background-color: #3C3C3C;
    border-radius: 10px;
}

.square{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: transparent;
}

.cell{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    user-select: none;

    justify-content: space-evenly;
    border-radius: 4px;
    transition-duration: 150ms;
    color: #808080;
    background-color: #1E1E1E;

    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.75);

    
    
}
.permanent{
    color: whitesmoke;
}
.cell:hover{
    transform: translateY(-2px);
    border-radius: 8px;
    
    
    
}
.cell:active{
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 1);
}
.pencil-digit{
    color: black;
    margin-top: -2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.value{
    position: absolute;
    padding-top: 5px;
    font-family:Verdana, sans-serif;
    font-size: 30px;
}

.active-cell{
    background-color: #142256;
}

.highlight-cell{
    background-color: #1D212C;
}