#game-board{
    position: absolute;
    
    justify-content: space-evenly;

    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    border: 2px solid;
    border-radius: 10px;;
}

#square{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
}

.cell{
    border-radius: 5px;
    transition-duration: 100ms;
    background-color: burlywood;
}
.cell:hover{
    transform: translateY(-2px);
    
}